/*/*.brd
/*/*.000
/.project
/.pydevproject
/*.000
/*/*.xml
/*/*.lbr
/*/*.sch
/*/__pycache__/
/*/__pycache__/*.*
/*/test.py
Questions.txt
/ignore/*.*
/Library/Libraries/*
/Library/Libraries/*/*.*
/Eagle.dtd
/Log.txt
/testFiles/
